/* variables */
:root{
  --primary: rgb(43, 4, 4);
  --bgcolor: rgb(248, 254, 241);
}

/* reset */
* {
  box-sizing: border-box;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles, mobile first */
body {
  background-color: var(--bgcolor);
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: var(--primary);
}

.container {
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto;
  padding: 8px;
}

header {
  background: rgba(197, 197, 255, 0.798);
  color: white;
  padding: 10px;
}

.header-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo span {
  font-size: 2em;
  margin-left: 20px;
}

#header-img {
  width: 40px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px;
  border: 1px  solid black;
}

#nav-bar ul li {
  background-color: pink;
  margin: 5px;
}

h1 {
  font-size: 1.6rem;
}

.hero {
  text-align: center;
  background-color: lightgreen;
}

.cta-button {
  display: inline-block;
  width: 8em;
  height: 2em;
  line-height: 2em;
  margin: 15px;
  border: 1px solid blue;
  border-radius: 15px;
}

.newsletter {
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 1px solid blue;
  height: 60px;
}


/* tablets & small laptop */
@media screen and (min-width: 750px) {

}

/* desktop */
@media screen and (min-width: 1024px) {

}

